body {
    font-family: "helvetica neue" , "arial" , "helvetica" , sans-serif ;
	background-color: #e8e8e8;
	margin: 0;
}
.R {
	background-image: url('img/R.png');
}
.B {
	background-image: url('img/B.png');
}
.G {
	background-image: url('img/G.png');
}
.L {
	background-image: url('img/L.png');
}
.D {
	background-image: url('img/D.png');
}
.H {
	background-image: url('img/H.png');
}
.J {
	background-image: url('img/J.png');
}
.P {
	background-image: url('img/P.png');
}
.M {
	background-image: url('img/M.png');
}
.X {
	background-image: url('img/X.png');
}
.float{
	overflow:auto;
}
.float > *{
	float:left;
}
.grid{
	display: grid;
	grid-auto-rows: min-content;
}
.grid.fset{
	grid-template-columns: 1fr 4fr;
	margin: 10px 0 20px 0;
}
.grid.filters{
	grid-template-columns: repeat(4, 1fr);
}
.grid.atts{
	grid-template-columns: repeat(6, 30px);
}
.grid.board-styles{
	min-height: 20px;
	grid-template-columns: repeat(4, 1fr);
}
.float.board-connected{
	min-height: 20px;
	float:right;
}
.float.board-styles{
	min-height: 20px;
}
.board {
	background-image:url('img/boardbg.png');
	background-size:80px 80px;
	border:5px solid #1f201f;
	margin:0px 5px;
	overflow:hidden;
}
.board.size-s {
	width:200px;
	height:160px;
}
.board.size-m {
	width:240px;
	height:200px;
}
.board.size-l {
	width:280px;
	height:240px;
}
.orb {
	margin: 0px;
    display: block;
    float: left;
    background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
    z-index: 1;
    position: relative;
	width:40px;
	height:40px;
}
.orb.matched{
	opacity:0.5;
}
.board-info{
	margin: 0px 4px;
	padding: 4px 0px;
	border-top: solid 1px grey;
}
.board-info > div{
	margin: 0 0;
	padding: 0 0;
	overflow:hidden;
	text-align:center;
}
.board-statistics{
	width:20%;
	width:auto;
	height:auto;
	margin: 0px 5px;
	padding: 2px;
}
.board-statistics > div{
	height:20px;
	line-height:20px;
	font-stretch:ultra-condensed;
}
.board-statistics > div:nth-child(1){
	/* border: solid 2px black;*/
	border-radius: 4px;
	font-stretch:ultra-condensed;
	font-size: 18px;
	font-weight:bold;
	background-color: #c5c5c5;
	color: #444;
}
.board-statistics > div:nth-child(2){
	font-size: 14px;
}
.orb-bg{
	margin: 0px;
    background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    z-index: 1;
	min-width:20px;
	min-height:20px;
	width:auto;
	height:auto;
	overflow:hidden;
	display:inline-block;
}
.style-box,.style-button,.style-orb-connected{
	height:20px;
	line-height:20px;
	display: flex;
	align-items:center;
	margin: 0px 2px;
	font-weight:bold;
	font-stretch:ultra-condensed;
}
.style-box .orb-bg,.style-button .orb-bg{
	background-size: 250%;
	background-position: left;
	min-width:8px;
}
.orbs-connected-text{
	font-size: 10px;
}
.board-filters{
	width:50%;
}
.orb-radio{
	display:block;
	width:30px;
	height:30px;
}
.orb-radio.disabled{
	opacity:0.5;
	filter:grayscale(100%);
}
input.hidden{
	margin:0px;
	position:absolute;
	opacity:0;
	cursor:pointer;
}
.orb-radio input[type^='radio']{
	width:30px;
	height:30px;
}
.orb-count{
	display: flex;
	align-items:center;
}
.orb-count input{
	margin:0px;
	padding:0px;
	height:70%;
	text-align: center;
}
.orb-count input[type^='text']{
	width:20px;
}
.selected-styles{
	margin: 1px 0pt;
	border: solid 1px gray;
}
.style-buttons{
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	overflow:visible;
}
.style-button input[type^='checkbox']{
	width:28px;
	height:20px;
	z-index:1;
}
.style-button input[type^='checkbox']:checked ~ div.R ~ img{
	filter: drop-shadow(0 0 5px red);
}
.style-button input[type^='checkbox']:checked ~ div.B ~ img{
	filter: drop-shadow(0 0 5px blue);
}
.style-button input[type^='checkbox']:checked ~ div.G ~ img{
	filter: drop-shadow(0 0 5px green);
}
.style-button input[type^='checkbox']:checked ~ div.L ~ img{
	filter: drop-shadow(0 0 5px yellow);
}
.style-button input[type^='checkbox']:checked ~ div.D ~ img{
	filter: drop-shadow(0 0 5px purple);
}
.style-button input[type^='checkbox']:checked ~ div.H ~ img{
	filter: drop-shadow(0 0 5px #E75480);
}
